/* CORES DO MODO LIGHT */
$azulPrimario: #1c658c;
$azulSecundario: #398ab9;
$azulAbsoluto: #1664ff;
$brancoPrimario: #d8d2cb;
$brancoSecundario: #eeeeee;
$brancoAbsoluto: #ffffff;

/* CORES DO MODO DARK */
$pretoAbsoluto: #000000;
$pretoSecundario: #181818;
$roxoPrimario: #3e065f;
$roxoSecundario: #700b97;
$roxoTerciario: #8e05c2;
