@mixin flex($position) {
  display: flex;
  justify-content: $position;
  align-items: $position;
}

.blueBar {
  @include flex(center);

  background-color: $azulAbsoluto;
  width: auto;
  height: 50px;

  h2 {
    color: $brancoAbsoluto;
    text-transform: uppercase;
    user-select: none;
  }
}
